.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--neutral);
  color: var(--text);
  font-size: 1.25rem;
  text-decoration: none;
  transition: var(--transition);
}

.instagram:hover {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  color: #ffffff;
}

.facebook:hover {
  background-color: #1877f2;
  color: #ffffff;
}
